.hero{
    color: $naranja;
}

.tarjeta{
    a{
        text-decoration: none;
        color: $blanco;
    } 
}
.tarjeta_titulo{
    font-weight: 600;
    font-size: 3rem;
}
.tarjeta_icono{
    fill: $blanco !important ;
}

.zocalo{
    background-color: $negro;
    color: $blanco;
}

.card-text{
    font-size: 1em;
}
@media (min-width:641px)  {
    .card-text{
        font-size: 1.5em;
    }
}