/*
font-family: 'Raleway', sans-serif;
Light 300
Regular 400
Semi-bold 600

font-family: 'Montserrat', sans-serif;
Regular 400
Bold 700

Colores:
negro #2f2f2f
naranja #ed6c21
gris #f1f1f1
*/

$naranja: #ed6c21;
$naranja2: #e65d0f;
$negro: #2f2f2f;
$gris: #f1f1f1;
$blanco: white;
$fuente-principal: 'Raleway', sans-serif;
$fuente-secundaria: 'Montserrat', sans-serif;